.footer-container {
  background-color: var(--clr-black);
  padding: 3rem 7rem 3rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  color: var(--clr-dark-gray);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.links {
  padding-top: 2rem;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social {
  padding-bottom: 2rem;
  text-decoration: none;
  justify-content: flex-end;
}
.social-icon {
  padding-right: 2rem;
}
