.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 1rem;
  background-color: transparent;
}
img {
  height: 30%;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  padding-right: 1.5rem;
}
a {
    position: relative;
  display: inline-block;
}
a:after {
    content: "";
  position: absolute;
  
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}
a:hover:after {
  width: 100%;
}
