
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 2rem;
  background-color: transparent;
}
img {
  height: 1.5rem;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  padding-right: 1.5rem;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-white);
}
a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 1.8px;
  background-color: var(--clr-white);
  transition: width 0.2s ease-in-out;
}
a:hover:after {
  width: 100%;
}
