.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 2rem;
}
ul{
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}