.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 1rem;
    background-color: transparent;
}
ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
    padding-right: 1rem;
}