.about-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5rem;
}

.image-interactive{
    height: 80%;
}
.about-content{
    background-color: var(--clr-white);
    width: 500px;
}