.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background: url("../../assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container-content {
  display: flex;
  margin: auto 7.5rem;
}

.title {
  align-self: center;
  border: 2px solid var(--clr-white);
  padding: 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  line-height: 1.25;
  color: var(--clr-white);
}

@media screen and (max-width: 690px) {
  .container-content {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .wrapper {
    padding: 2rem;
  }
}
