ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  background: transparent;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7.5rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-white);
  transform: rotate(90deg);
}

.links {
  background-color: var(--clr-white);
}

.links a {
  color: var(--clr-black);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0.5rem 7.5rem;
  transition: 0.3s all;
}

.links a:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid;
  margin: 0 auto;
  transition: all 0.3s linear 0s;
}

.links a:hover:after {
  width: 100%;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s all;
}

@media screen and (min-width: 850px) {
  .nav-center {
    height: 100%;
    margin: 0 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .nav-header {
    padding: 1.5rem 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-self: center;
  }

  .links a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0 0.5rem;
    color: var(--clr-white);
  }

  .links a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid;
    margin: 0 auto;
    transition: all 0.3s linear 0s;
  }

  .links a:hover:after {
    width: 100%;
  }
}
