.creation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem;
}

.creation-title{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}
