.card-container {
    
}
.card-img {
    height: 100%;
    padding: 2rem;
}
.card-title{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: var(--clr-black);
}