.card-container {
  position: relative;
  margin: 2rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.card-title:hober, .card-container:hover{
    opacity: 50%;
    color: var(--clr-black);
}

.card-title {
  position: absolute;
  bottom: 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: var(--clr-white);
  padding: 2rem;
  width: 100%;
}

