.card-container {
  position: relative;
  margin: 2rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.card-container:hover{
    opacity: 80%;

}

.card-title {
  position: absolute;
  bottom: 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: var(--clr-white);
  padding: 2rem;
  background-color: black;
  opacity: 70%;
  width: 100%;
}
