.container {
    background: url('../../assets/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.container-content {
    display: flex;
    justify-content: flex-start;
    padding: 5rem;

}